# Node and pnpm
node_modules/
.pnpm-store/
.pnpm-debug.log
.nx/cache
.nx/workspace-data
*.code-workspace

# Local env files and other local files
*.local

# Build artifacts
dist/

# Testing artifacts
coverage/
.lighthouseci/
.eslintcache

# Supabase
supabase/.branches
supabase/.temp
supabase/.env
