.header {
  background: var(--header-bg);
  color: var(--header-fg);

  padding: 0 var(--pad-10);

  & a {
    color: var(--header-fg);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.container {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: var(--pad-10) 0;
  display: flex;
  align-items: center;
  gap: var(--pad-10);

  & h1 {
    margin: 0;
  }
}

.separator {
  flex-grow: 1;
}
